<h1>Contacts</h1>

<!-- <div>
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" [(ngModel)]="userName" required #inputName="ngModel">
        <div class="error" *ngIf="inputName.invalid && inputName.dirty">
            Name is required
        </div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" [(ngModel)]="email" required #inputEmail="ngModel">
        <div class="error" *ngIf="inputEmail.invalid && inputEmail.dirty">
            Email is required
        </div>
    </div>

    <div>
        <label for="phones">Phone numbers:</label>
        <div *ngFor="let phoneNumber of phoneNumbers; let i = index; trackBy: trackByFn">
            <input type="text" [(ngModel)]="phoneNumbers[i]">
            <button (click)="addPhoneNumber()">+</button>
            <button (click)="removePhoneNumber(i)" *ngIf="i > 0">-</button>
        </div>
    </div>

    <div>
        <label for="message">Message:</label>
        <textarea name="message" id="message" cols="20" rows="3" [(ngModel)]="message"></textarea>
    </div>

    <button (click)="sendEmail()">Send</button>
</div> -->

<form #contact="ngForm">
    <div>
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" [(ngModel)]="userName" required #inputName="ngModel">
        <div class="error" *ngIf="inputName.invalid && inputName.dirty">
            Name is required
        </div>
    </div>

    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" [(ngModel)]="email" required #inputEmail="ngModel">
        <div class="error" *ngIf="inputEmail.invalid && inputEmail.dirty">
            Email is required
        </div>
    </div>

    <div>
        <label for="phones">Phone numbers:</label>
        <div *ngFor="let phoneNumber of phoneNumbers; let i = index; trackBy: trackByFn">
            <input type="text" name="{{i}}" [(ngModel)]="phoneNumbers[i]">
            <button (click)="addPhoneNumber()">+</button>
            <button (click)="removePhoneNumber(i)" *ngIf="i > 0">-</button>
        </div>
    </div>

    <div>
        <label for="message">Message:</label>
        <textarea name="message" id="message" cols="20" rows="3" [(ngModel)]="message"></textarea>
    </div>

    <button (click)="sendEmail()" [disabled]="contact.invalid">Send</button>
</form>
